{% extends "base.html" %}

{% block content %}
	{% include 'flash.html' %}
	<div class="well">
		
	{% if game.type_of_proposal == 'edit' %}
		<form class="form-horizontal" action="{{ url_for('edit_game_version', dad_id = game.dad, son_id = game.son_id) }}" method="post" name="post" enctype="multipart/form-data">
			{{ edit_form.hidden_tag() }}
			<div class="control-group{% if form.version_name.errors %} error{% endif %}">
				<p>Hello, thank you for contributing for VGList. You are creating a Game Global. If you want to add a version of an
				existing game on our database entries, please go to the respective's game page and click on "Create Version" button.
				<br>
				<b>Please, before adding a game certify that this game isn't already on our database. Thank you!</b>
				 </p>
				<div class="controls">
					{{ edit_form.version_name(size=30, maxlength=128,value=game.version_name) }}
					{% for error in form.errors.game %}
						<span class="help-inline">[{{ error }}]</span><br>
					{% endfor %}
				</div>
				<div class="controls">
					{{ edit_form.description(size=30, maxlength=300,value=game.description) }}
				</div>

				<div class="controls">
					<select name="genre">
						{% for i in genres %}
							{% if i == game.genre %}
								<option value="{{ i }}" selected>{{ i }}</option>
							{% else %}
								<option value="{{ i }}">{{ i }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				
				<div class="controls">
					<select name="platform" data-placeholder="Choose a Platform..." class="chosen-select" style="width:350px;" tabindex="2">
						<option value="None" selected>Not Set</option>
						{% for platform in platforms %}
							{% if platform.id == game.console %}
								<option value="{{ platform.id }}" selected>{{ platform.name }}</option>
							{% else %}
								<option value="{{ platform.id }}">{{ platform.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="controls">
					<select multiple name="developers" data-placeholder="Choose Developers..." class="chosen-select" style="width:350px;" tabindex="2">
						{% if game.ghost_developers %}
							{% for this_devs in ghost_game.ghost_developers %}
								<option value ="{{ this_devs.id }}" selected>{{ this_devs.name }}</option>
							{% endfor %}
						{% endif %}
						
						{% for devs in companies %}
							{% if devs not in game.ghost_developers %}
								<option value="{{ devs.id }}">{{ devs.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="controls">
					<select multiple name="publishers" data-placeholder="Choose Publishers..." class="chosen-select" style="width:350px;" tabindex="2">
						{% if game.ghost_publishers %}
							{% for this_devs in game.ghost_publishers %}
								<option value ="{{ this_devs.id }}" selected>{{ this_devs.name }}</option>
							{% endfor %}
						{% endif %}
						
						{% for pubs in companies %}
							{% if pubs not in game.ghost_publishers %}
								<option value="{{ pubs.id }}">{{ pubs.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="controls">
					<br><br>
					<b>Current Boxart:</b>
					{% if game.boxart and game.thumbnail %}
						<a href="{{ url_for('uploaded_boxart', filename = game.boxart) }}">
							<img src="{{ url_for('uploaded_boxart_thumbnail', filename = game.thumbnail)}}" />
						</a>
					{% endif %}
					<br><br>
					{% if game.boxart %}
						<b>Choose new boxart: </b>{{ edit_form.boxart(value=url_for('uploaded_boxart_ghost', filename=game.boxart)) }}
					{% else %}
						<b>Choose new boxart: </b>{{ edit_form.boxart() }}
					{% endif %}
				</div>

				
			</div>
			<div class="control-group">
				<div class="controls">
					<input class="btn btn-primary" type="submit" value="Accept">
					<a class="btn btn-danger" href="{{ url_for('delete_game_ghost', id=game.son_id) }}" type="submit">Deny</a>
				</div>
			</div>
			</form>

	{% else %}
		<form class="form-horizontal" action="{{ url_for('add_game_version', dad_id = game.dad, son_id = game.son_id) }}" method="post" name="post" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<div class="control-group{% if form.version_name.errors %} error{% endif %}">
				<p>Hello, thank you for contributing for VGList. You are creating a Game Global. If you want to add a version of an
				existing game on our database entries, please go to the respective's game page and click on "Create Version" button.
				<br>
				<b>Please, before adding a game certify that this game isn't already on our database. Thank you!</b>
				 </p>
				<div class="controls">
					{{ form.version_name(size=30, maxlength=128,value=game.version_name) }}
					{% for error in form.errors.game %}
						<span class="help-inline">[{{ error }}]</span><br>
					{% endfor %}
				</div>
				<div class="controls">
					{{ form.description(size=30, maxlength=300,value=game.description) }}
				</div>

				<div class="controls">
					<select name="genre">
						{% for i in genres %}
							{% if i == game.genre %}
								<option value="{{ i }}" selected>{{ i }}</option>
							{% else %}
								<option value="{{ i }}">{{ i }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				
				<div class="controls">
					<select name="platform" data-placeholder="Choose a Platform..." class="chosen-select" style="width:350px;" tabindex="2">
						<option value="None" selected>Not Set</option>
						{% for platform in platforms %}
							{% if platform.id == game.console %}
								<option value="{{ platform.id }}" selected>{{ platform.name }}</option>
							{% else %}
								<option value="{{ platform.id }}">{{ platform.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="controls">
					<select multiple name="developers" data-placeholder="Choose Developers..." class="chosen-select" style="width:350px;" tabindex="2">
						{% if game.ghost_developers %}
							{% for this_devs in ghost_game.ghost_developers %}
								<option value ="{{ this_devs.id }}" selected>{{ this_devs.name }}</option>
							{% endfor %}
						{% endif %}
						
						{% for devs in companies %}
							{% if devs not in game.ghost_developers %}
								<option value="{{ devs.id }}">{{ devs.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="controls">
					<select multiple name="publishers" data-placeholder="Choose Publishers..." class="chosen-select" style="width:350px;" tabindex="2">
						{% if game.ghost_publishers %}
							{% for this_devs in game.ghost_publishers %}
								<option value ="{{ this_devs.id }}" selected>{{ this_devs.name }}</option>
							{% endfor %}
						{% endif %}
						
						{% for pubs in companies %}
							{% if pubs not in game.ghost_publishers %}
								<option value="{{ pubs.id }}">{{ pubs.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="controls">
					<br><br>
					<b>Current Boxart:</b>
					{% if game.boxart and game.thumbnail %}
						<a href="{{ url_for('uploaded_boxart', filename = game.boxart) }}">
							<img src="{{ url_for('uploaded_boxart_thumbnail', filename = game.thumbnail)}}" />
						</a>
					{% endif %}
					<br><br>
					<b>Choose new boxart: </b>{{ form.boxart(value=url_for('uploaded_boxart_ghost', filename=game.boxart)) }}
				</div>

				
			</div>
			<div class="control-group">
				<div class="controls">
					<input class="btn btn-primary" type="submit" value="Accept">
					<a class="btn btn-danger" href="{{ url_for('delete_game_ghost', id=game.son_id) }}" type="submit">Deny</a>
				</div>
			</div>
			</form>
		{% endif %}
	</div>
{% endblock %}
