{% extends "base.html" %}

{% block content %}
	<h1>Game Creation</h1>
	{% include 'flash.html' %}
	<div class="well">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Author</th>
					<th>Review Link</th>
					<th>Delete Link</th>
				</tr>
			</thead>
			{%for ghost in ghosts %}	
				<tr>
					<td>
						{{ ghost.version_name }}
					</td>
					<td>
						{{ ghost.ghost_author }}
					</td>
					<td>
						<a href="{{ url_for('review_game_ghost', id=ghost.son_id) }}">Review it</a>
					</td>
					<td>
						<a href="{{ url_for('delete_game_ghost', id=ghost.son_id) }}">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
