<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
    {% if user.banner %}
		<div class="well well-large" id="userbanner" style='height:140px; background-image:url("{{ url_for("uploaded_user_banner", filename=user.banner) }}"); background-size:cover;background-repeat:no-repeat; color:white !important;'>
    {% else %}
		<div class="well well-large" id="userbanner" style='height:140px; background-image:url("{{ url_for("uploaded_user_banner", filename=default_banner) }}"); background-size:cover;background-repeat:no-repeat; color:white !important;'>
	{% endif %}
        <div class="pull-right">
				<img src="{% if user.avatar %}
							{{ url_for('uploaded_avatar', filename=user.avatar) }}
						  {% else %}
							{{ user.generate_avatar(100) }}
						  {% endif %}" class="img-polaroid" style="max-width:140px;"/>
        </div>
        <h1>{{ user.nickname }}</h1>
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        {% if user.last_seen %}
        <p><em>Last seen: {{ momentjs(user.last_seen).calendar() }}</em></p>
        {% endif %}
        <strong>
        <p><a href="{{ url_for('followers_list', nickname=user.nickname) }}">Followers: {{ user.followers.count() - 1 }}</a> 
        | <a href="{{ url_for('followed_list', nickname=user.nickname) }}">Following: {{ user.followed.count() - 1 }}</a>  |
        {% if user.id == g.user.id %}
            <a href="{{ url_for('edit') }}">Edit your profile</a>
        {% elif not g.user.is_following(user) %}
            <a href="{{ url_for('follow', nickname=user.nickname) }}">Follow</a>
        {% else %}
            <a href="{{ url_for('unfollow', nickname=user.nickname) }}">Unfollow</a>
        {% endif %}
		</strong>
        </p>
    </div>
    
    {% block user_content %}
    
    {% endblock %}
{% endblock %}

