{% set default_banner = "default_banner.png" %}

<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - VGList Project</title>
    {% else %}
    <title>VGList</title>
    {% endif %}
    <link href="/static/css/chosen.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/chosen.jquery.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><strong>VGList Project</strong></a>
            <ul class="nav">
              <li><a href="{{ url_for('index') }}">Home</a></li>
              {% if g.user.is_authenticated() %}
				  <li><a href="{{ url_for('user', nickname=g.user.nickname) }}">Your Profile</a></li>
				  <li><a href="{{ url_for('user_list', nickname=g.user.nickname) }}">Your List</a></li>
				  <li><a href="{{ url_for('game_all') }}">All Games</a></li>
				  <li><a href="{{ url_for('add_game') }}">Create Game</a></li>
				  <li><a href="{{ url_for('add_company') }}">Create Company</a></li>
				  <li><a href="{{ url_for('add_platform') }}">Create Platform</a></li>
				  <li><a href="{{ url_for('logout') }}">Logout</a></li>
              {% endif %}
            </ul>
          <div class="nav-collapse collapse">
            {% if g.user.is_authenticated() %}
				<form class="navbar-search pull-right" action="{{ url_for('search') }}" method="post" name="search">{{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=20, placeholder="Search", class="search-query") }} {{ g.search_form.type_of_search() }}</form>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>   
  </body>
    <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>

</html>
