<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
    <div class="well">
		<h1>{{ company.name }}</h1>
		<b><a href="{{ url_for('edit_company', id = company.id) }}">Edit</a></b>
		<p>
			{{ company.description }}
		</p>
    </div>
{% endblock %}

