{% extends "base.html" %}

{% block content %}
<h1>Platform Creation</h1>
{% include 'flash.html' %}
<div class="well">
	<form class="form-horizontal" action="" method="post" name="post">
		{{ form.hidden_tag() }}
		<div class="control-group{% if form.name.errors %} error{% endif %}">
			<p>Hello, thank you for contributing for VGList. You are creating a Platform. .
			<br>
			<b>Please, before adding a game certify that this platform isn't already on our database. Thank you!</b>
			 </p>
			<div class="controls">
				<label class="control-label" for="name">Platform Name:</label>
				{{ form.name(size=30, maxlength=128) }}
				{% for error in form.errors.game %}
					<span class="help-inline">[{{ error }}]</span><br>
				{% endfor %}
				<br>
				
			<label class="control-label" for="description">Platform Description:</label>
				{{ form.description(size=30) }}
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input class="btn btn-primary" type="submit" value="Post!">
			</div>
		</div>
	</form>
</div>
{% endblock %}
