{% extends "base.html" %}

{% block content %}
<h1>Game Creation</h1>
{% include 'flash.html' %}
<div class="well">
	<form class="form-horizontal" action="" method="post" name="post">
		{{ form.hidden_tag() }}
		<div class="control-group{% if form.name.errors %} error{% endif %}">
			<p>Hello, thank you for contributing for VGList. You are creating a Game Global. If you want to add a version of an
			existing game on our database entries, please go to the respective's game page and click on "Create Version" button.
			<br>
			<b>Please, before adding a game certify that this game isn't already on our database. Thank you!</b>
			 </p>
			<label class="control-label" for="name">Game Name:</label>
			<div class="controls">
				{{ form.name(size=30, maxlength=128) }}
				{% for error in form.errors.game %}
					<span class="help-inline">[{{ error }}]</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input class="btn btn-primary" type="submit" value="Post!">
			</div>
		</div>
	</form>
</div>
{% endblock %}
