{% extends "base.html" %}

{% block content %}
<h1>Game Creation</h1>
{% include 'flash.html' %}
<div class="well">
	<form class="form-horizontal" action="" method="post" name="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<div class="control-group{% if form.version_name.errors %} error{% endif %}">
			<p>Hello, thank you for contributing for VGList. You are creating a Game Global. If you want to add a version of an
			existing game on our database entries, please go to the respective's game page and click on "Create Version" button.
			<br>
			<b>Please, before adding a game certify that this game isn't already on our database. Thank you!</b>
			 </p>
			<div class="controls">
				{{ form.version_name(size=30, maxlength=128,placeholder="Game Version Name") }}
				{% for error in form.errors.game %}
					<span class="help-inline">[{{ error }}]</span><br>
				{% endfor %}
			</div>
			<div class="controls">
				{{ form.description(size=30, maxlength=300,value=game.description) }}
			</div>

			<div class="controls">
				<select name="genre">
					<option value="None" selected>Not Set</option>
					{% for i in genres %}
						{% if i == game.genre %}
							<option value="{{ i }}" selected>{{ i }}</option>
						{% else %}
							<option value="{{ i }}">{{ i }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			
			<div class="controls">
				<select name="platform" data-placeholder="Choose a Platform..." class="chosen-select" style="width:350px;" tabindex="2">
					<option value="" selected>Not Set</option>
					{% for platform in platforms %}
						<option value="{{ platform.id }}">{{ platform.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="controls">
				<select multiple name="developers" data-placeholder="Choose Developers..." class="chosen-select" style="width:350px;" tabindex="2">					
					{% for devs in companies %}
						<option value="{{ devs.id }}">{{ devs.name }}</option>
					{% endfor %}
				</select>
			</div>
			
			<div class="controls">
				<select multiple name="publishers" data-placeholder="Choose Publishers..." class="chosen-select" style="width:350px;" tabindex="2">					
					{% for pubs in companies %}
						<option value="{{ pubs.id }}">{{ pubs.name }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="controls">
				{{ form.boxart() }}
			</div>
			
		</div>
		<div class="control-group">
			<div class="controls">
				<input class="btn btn-primary" type="submit" value="Post!">
			</div>
		</div>
	</form>
</div>
{% endblock %}
