{% extends "base.html" %}

{% block content %}
<h1>Game Edit</h1>
{% include 'flash.html' %}
<div class="well">
	<form class="form-horizontal" action="" method="post" name="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<div class="control-group{% if form.version_name.errors %} error{% endif %}">
			<div class="controls">
				{{ form.version_name(size=30, maxlength=128,value=game.version_name) }}
				{% for error in form.errors.game %}
					<span class="help-inline">[{{ error }}]</span><br>
				{% endfor %}
			</div>
			<div class="controls">
				{{ form.description(size=30, maxlength=300,value=game.description) }}
			</div>
			<div class="controls">
				<select name="genre">
					<option value="None" selected>Not Set</option>
					{% for i in genres %}
						{% if i == game.genre %}
							<option value="{{ i }}" selected>{{ i }}</option>
						{% else %}
							<option value="{{ i }}">{{ i }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<div class="controls">
				<select name="platform" data-placeholder="Choose a Platform..." class="chosen-select" style="width:350px;" tabindex="2">
					<option value="None" selected>Not Set</option>
					{% for platform in platforms %}
						{% if platform.id == game.platform.id %}
							<option value="{{ platform.id }}" selected>{{ platform.name }}</option>
						{% else %}
							<option value="{{ platform.id }}">{{ platform.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<div class="controls">
				<select multiple name="developers" data-placeholder="Choose Developers..." class="chosen-select" style="width:350px;" tabindex="2">
					{% if game.developers %}
						{% for this_devs in game.developers %}
							<option value ="{{ this_devs.id }}" selected>{{ this_devs.name }}</option>
						{% endfor %}
					{% endif %}
					
					{% for devs in companies %}
						{% if devs not in game.developers %}
							<option value="{{ devs.id }}">{{ devs.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<div class="controls">
				<select multiple name="publishers" data-placeholder="Choose Publishers..." class="chosen-select" style="width:350px;" tabindex="2">
					{% if game.publishers %}
						{% for this_devs in game.publishers %}
							<option value ="{{ this_devs.id }}" selected>{{ this_devs.name }}</option>
						{% endfor %}
					{% endif %}
					
					{% for pubs in companies %}
						{% if pubs not in game.publishers %}
							<option value="{{ pubs.id }}">{{ pubs.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<div class="controls">
				<br><br>
				<b>Current Boxart:</b>
				{% if game.boxart and game.thumbnail %}
					<a href="{{ url_for('uploaded_boxart', filename = game.boxart) }}">
						<img src="{{ url_for('uploaded_boxart_thumbnail', filename = game.thumbnail)}}" />
					</a>
				{% endif %}
				<br><br>
				<b>Choose new boxart: </b>{{ form.boxart() }}
			</div>

		</div>
		<div class="control-group">
			<div class="controls">
				<input class="btn btn-primary" type="submit" value="Post!">
			</div>
		</div>
	</form>
</div>
{% endblock %}
