<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Edit Your Profile</h1>
    {% include 'flash.html' %}
    <div class="well">
        <form class="form-horizontal" action="" method="post" name="edit" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="control-group{% if form.nickname.errors %} error{% endif %}">
                <label class="control-label" for="nickname">Your nickname:</label>
                <div class="controls">
                    {{ form.nickname(maxlength=64, class="span4") }}
                    {% for error in form.nickname.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group{% if form.about_me.errors %} error{% endif %}">
                <label class="control-label" for="about_me">About yourself:</label>
                <div class="controls">
                    {{ form.about_me(cols=64, rows=4, class="span4") }}
                    {% for error in form.about_me.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group{% if form.about_me.errors %} error{% endif %}">
                <label class="control-label" for="avatar">Your avatar:</label>
                <div class="controls">
                    {{ form.avatar() }}
                </div>
            </div>
            
            <div class="control-group{% if form.about_me.errors %} error{% endif %}">
                <label class="control-label" for="avatar">Your banner (We recommend a huge image!!):</label>
                <div class="controls">
                    {{ form.banner() }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Save Changes">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
