{% extends "base.html" %}

{% block content %}
<h1>Platform Edit</h1>
{% include 'flash.html' %}
<div class="well">
	<form class="form-horizontal" action="" method="post" name="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<div class="control-group{% if form.name.errors %} error{% endif %}">
			<p>Hello, thank you for contributing for VGList. You are Editing an existent Platform...
			<br>
			<b></b>
			 </p>
			<div class="controls">
				<label class="control-label" for="name">Platform Name:</label>
				{{ form.name(size=30, maxlength=128) }}
				{% for error in form.errors.game %}
					<span class="help-inline">[{{ error }}]</span><br>
				{% endfor %}
				<br>
				
			<label class="control-label" for="description">Platform Description:</label>
				{{ form.description(size=30) }}
			</div>
		</div>
		<div class="controls">
			{{ form.image() }}
		</div>
		<div class="controls">
			<select multiple name="manufacturer" data-placeholder="Choose a Manufacturer..." class="chosen-select" style="width:350px;" tabindex="2">
				{% if platform.manufacturer %}
					{% for this_manuf in platform.manufacturer %}
						<option value ="{{ this_manuf.id }}" selected>{{ this_manuf.name }}</option>
					{% endfor %}
				{% endif %}
				{% for company in companies %}
					{% if company not in platform.manufacturer %}
						<option value="{{ company.id }}">{{ company.name }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>

		<div class="control-group">
			<div class="controls">
				<input class="btn btn-primary" type="submit" value="Post!">
			</div>
		</div>
	</form>
</div>
{% endblock %}
