<p>Dear {{ user.nickname }},</p>
<p><a href="{{ url_for("user", nickname=follower.nickname, _external=True)}}">{{ follower.nickname }}</a> is now a follower.</p>
<table>
    <tr valign="top">
        <td>
		<img src="{% if follower.avatar %}         
			{{ url_for('uploaded_avatar', filename=follower.avatar) }}
		  {% else %}
			{{ follower.generate_avatar(80) }}
		  {% endif %}"/>

        </td>
        <td>
            <a href="{{ url_for('user', nickname=follower.nickname, _external=True)}}">{{ follower.nickname }}</a><br />
            {{ follower.about_me }}
        </td>
    </tr>
</table>
<p>Regards,</p>
<p>The <code>VGList</code> administration</p>
