{% extends "base_user.html" %}

{% block user_content %}
	<div class="well">
		{% if user != g.user %}
			<h1>Users being followed by {{ user.nickname }}:</h1>
			{% if followed %}
				{% for follower in followed %}
					{% if g.user.nickname == follower.nickname %}
						<b>{{ follower.nickname }}  </b> -- that's you!!
					{% else %}
						<b>{{ follower.nickname }}  </b>
						{% if not g.user.is_following(follower) %}
							<a href="{{ url_for('follow', nickname=follower.nickname) }}">Follow</a>
						{% else %}
							<a href="{{ url_for('unfollow', nickname=follower.nickname) }}">Unfollow</a>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% else %}
				<b>This user is ...</b>
			{% endif %}
		{% else %}
			<h1>Users being followed by you:</h1>
			{% if followed %}
				{% for follower in followed %}
					<b>{{ follower.nickname }}</b> ---- 
					{% if not g.user.is_following(follower) %}
						<a href="{{ url_for('follow', nickname=follower.nickname) }}">Follow</a>
					{% else %}
						<a href="{{ url_for('unfollow', nickname=follower.nickname) }}">Unfollow</a>
					{% endif %}
					<br>
				{% endfor %}
			{% else %}
				<b>No followers found for this user...</b>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}
