{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
    <div class="well">
		{% if game_son.boxart and game_son.thumbnail %}
			<a href="{{ url_for('uploaded_boxart', filename = game_son.boxart) }}">
				<img src="{{ url_for('uploaded_boxart_thumbnail', filename = game_son.thumbnail)}}" />
			</a>
		{% endif %}
		<h1>{{ game_son.version_name }} - {{ game_son.platform.name }} - Score: {{ game_son.son.score }}</h1>
		<p>
			<b>Genre:</b> {{ game_son.genre }}
		</p>
		<p>
			<b>Developers:</b>
			{% if game_son.developers %}
				{% for dev in game_son.developers %}
					<a href="{{ url_for('company', id = dev.id) }}">{{ dev.name }}</a>,
				{% endfor %}
			{% endif %}
			<br>
			<b>Publishers:</b>
			{% if game_son.publishers %}
				{% for pub in game_son.publishers %}
					<a href="{{ url_for('company', id = pub.id)}}">{{ pub.name }}</a>,
				{% endfor %}
			{% endif %}
		</p>
		<p>
			<b>Other Versions:</b>
			{% for other in game_son.son.versions %}
				{% if other.son_id != game_son.son_id %}
					<a href="{{ url_for('game', dad_id = game_dad.id, son_id = other.son_id) }}">
						{{ other.version_name }} - ({{ other.platform.name }})
					</a>
				{% endif %}
			{% endfor %}
		</p>
		<p><b>Description:<br></b>
			{{ game_son.description }}
		</p>
		<b><a href="{{ url_for('edit_game_version', dad_id = game_dad.id, son_id = game_son.son_id ) }}">Edit</a></b>
		|| 
		<b><a href="{{ url_for('add_game_version', dad_id = game_dad.id) }}">Add Version</a></b>
		||
		<br><br>
		
		{% if not onlist %}
			<form class="form-horizontal" action="{{ url_for('add_list_entry', dad_id = game_dad.id, son_id = game_son.son_id) }}" method="post" name="post">
				Add to your list: <br>
				<select name="status">
					{% for i in statuses %}
						{% if loop.first %}
							<option value="{{ i }}" selected>{{ i }}</option>
						{% else %}
							<option value="{{ i }}">{{ i }}</option>
						{% endif %}
					{% endfor %}
				</select>
				Score: {{ form.score() }}
				<button type="submit">Add to List</a>
			</form>
		{% else %}
			<form class="form-horizontal" action="{{ url_for('edit_list_entry', dad_id = game_dad.id, son_id = game_son.son_id) }}" method="post" name="post">
				Edit List Entry: <br>
				<select name="status">
					{% for i in statuses %}
						{% if i == entry.status %}
							<option value="{{ i }}" selected>{{ i }}</option>
						{% else %}
							<option value="{{ i }}">{{ i }}</option>
						{% endif %}
					{% endfor %}
				</select>
				Score: {{ edit_form.score() }}
				<button type="submit">Edit List Entry</a>
			</form>
		{% endif %}
    </div>
{% endblock %}
