{% extends "base.html" %}
{% block content %}
    {% include 'flash.html' %}

	<div class="well">
	  <form action="" method=post class="form-horizontal">
		<h2>Signin to VGList </h2>
		<div class="control-group">
			<div class="controls">
			  <input type="text" id="username" name="username" class="input-xlarge"
				placeholder="Enter Username" required>
			</div>
		</div>
	 
		<div class="control-group">
			<div class="controls">
			  <input type="password" id="password" name="password" class="input-xlarge"
				placeholder="Enter Password" required>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
			  <input type="checkbox" id="remember_me" name="remember_me" class="input-xlarge"> Remember me
			</div>
		</div>
	 
		<div class="control-group">
			<div class="controls">
			  <button type="submit" class="btn btn-success">Signin</button>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<a href="{{ url_for('register') }}" class="btn btn-success">Register</a> <b>Don't have an account?</b> 
			</div>
		</div>
	  </form>
	</div>
{% endblock %}
