<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
    <div class="well">
		{% if platform.image and platform.thumbnail %}
			<a href="{{ url_for('uploaded_platform', filename = platform.image) }}">
				<img src="{{ url_for('uploaded_platform_thumbnail', filename = platform.thumbnail)}}" />
			</a>
		{% endif %}

		<h1>{{ platform.name }}</h1>
		<b><a href="{{ url_for('edit_platform', id = platform.id) }}">Edit</a></b>
		<p>
		{% if platform.manufacturer %}
			{% for manuf in platform.manufacturer %}
				<b>Manufacturer(s):</b> <a href="{{ url_for('company', id=manuf.id) }}">{{ manuf.name }}</a>
			{% endfor %}
		{% endif %}
			<br>
			{{ platform.description|markdown }}

		</p>
    </div>
{% endblock %}

