
{% if post.type_of_act == 'broadcast' %}
<table class="table table-hover">
    <tr>
        <td width="70px">
			<a href="{{ url_for('user', nickname=post.author.nickname) }}">
				<img src="{% if post.author.avatar %}         
							{{ url_for('uploaded_avatar', filename=post.author.avatar) }}
						  {% else %}
							{{ post.author.generate_avatar(80) }}
						  {% endif %}"/>
			</a>
		</td>
        <td>
            <p><a href="{{url_for('user', nickname=post.author.nickname)}}">{{ post.author.nickname }}</a> said {{ momentjs(post.timestamp).fromNow() }}:</p>
            <p><strong>{{ post.body }}</strong></p>
        </td>
    </tr>
</table>

{% elif post.type_of_act == 'list_entry' %}
	<table class="table table-hover">
    <tr>
        <td width="70px"><a href="{{ url_for('user', nickname=post.author.nickname) }}"><img src="{% if post.author.avatar %}         
							{{ url_for('uploaded_avatar', filename=post.author.avatar) }}
						  {% else %}
							{{ post.author.generate_avatar(80) }}
						  {% endif %}"/>
</a></td>
        <td>
            <p><a href="{{url_for('user', nickname=post.author.nickname)}}">{{ post.author.nickname }}</a> said {{ momentjs(post.timestamp).fromNow() }}:</p>
            <p>
				{% if post.broadcast_feed %}
					{% if post.body == 'added' %}
						added <strong>{{ post.broadcast_feed.users_list.version_name }}</strong> as "{{ post.broadcast_feed.status }}"
						{% if post.broadcast_feed.score %}
							and scored it as {{ post.broadcast_feed.score }} out of 100.
						{% else %}
							.
						{% endif %}
					{% elif post.body == 'edited' %}
						edited list entry <strong>{{ post.broadcast_feed.users_list.version_name }}</strong> 
						as "{{ post.broadcast_feed.status }}"
						{% if post.broadcast_feed.score %}
							and scored it as {{ post.broadcast_feed.score }} out of 100.
						{% else %}
							.
						{% endif %}
					{% endif %}
				{% endif %}
			</p>
        </td>
        {% if post.broadcast_feed %}
			<td width="70px"><a href="{{ url_for('game', dad_id = post.broadcast_feed.users_list.dad, son_id = post.broadcast_feed.users_list.son_id) }}">
				{% if post.broadcast_feed.users_list.thumbnail %}
					<img src="{{ url_for('uploaded_boxart_thumbnail', filename=post.broadcast_feed.users_list.thumbnail) }}" /></a>
				{% endif %}
			</td>
		{% endif %}
    </tr>
</table>

{% endif %}
