<table class="table table-border">
    <tr>

        <td width="80px">
			{% if game.thumbnail %}
				<a href="{{ url_for('game', dad_id = game.dad, son_id = game.son_id) }}">
					<img src="{{ url_for('uploaded_boxart_thumbnail', filename = game.thumbnail)}}" />
				</a>
			{% else %}
				<a href="{{ url_for('game', dad_id = game.dad, son_id = game.son_id) }}">
					<img src="http://placehold.it/78x78" />
				</a>
			{% endif %}
		</td>
        <td>
            <p><a href="{{ url_for('game', dad_id = game.dad, son_id = game.son_id) }}">{{ game.version_name }}</a>: Score: {{ game.son.score }}</p>
            <p><strong>Genre: {{ game.genre }}</strong></p>
        </td>
    </tr>
</table>
