<table class="table table-hover">
    <tr>
        <td width="70px"><a href="{{ url_for('platform', id = console.id) }}">
			<img src="http://placehold.it/80x80" /></a>
		</td>
        <td>
            <p><a href="{{ url_for('platform', id = console.id) }}">{{ console.name }}</a>:</p>
            <p><strong>{{ console.description }}</strong></p>
        </td>
    </tr>
</table>
