<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
    <div class="well">
		<h3>VGList - All Games on Database</h3>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Son Name</th>
					<th>Dad Name</th>
					<th>Console</th>
					<th>Genre</th>
					<th>Link to Page</th>
					<th>Created</th>
				</tr>
			</thead>
			{% for game in games %}
				{% for local_game in game.versions %}
				<tr>
					<td>{{ local_game.version_name }}</td>
					<td>{{ game.name }}</td>
					<td>
						{% if local_game.platform %}
							<a href="{{ url_for('platform', id = local_game.platform.id) }}">{{ local_game.platform.name }}</a>
						{% else %}
							Not Set
						{% endif %}
					</td>
					<td>{{ local_game.genre }}</td>
					<td><a href="{{ url_for('game', dad_id = game.id, son_id = local_game.son_id) }}">Link</a></td>
					<td>{{ momentjs(local_game.son_timestamp).calendar() }}</td>
				</tr>
				{% endfor %}
			{% endfor %}
		</table>
    </div>
{% endblock %}
