{% extends "base_user.html" %}

{% block user_content %}
<div class="well">
	<h1>{{ user.nickname }}'s GameList</h1>
	
	{% if entries %}
		<table class="table table-bordered">			
			{% for entry in entries %}
				<thead>
					<tr>
						<th>Entry</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tr>
					<td>
						{{ entry.users_list.version_name }} -
						{{ entry.users_list.platform.name }}
					</td>
					<td>
						<form class="form-horizontal" action="{{ url_for('edit_list_entry', dad_id = entry.users_list.dad, son_id = entry.users_list.son_id) }}" method="post" name="post">
							<select name="status">
								{% for i in statuses %}
									{% if i == entry.status %}
										<option value="{{ i }}" selected>{{ i }}</option>
									{% else %}
										<option value="{{ i }}">{{ i }}</option>
									{% endif %}
								{% endfor %}
							</select>
							{% if entry.score %}
								Score: {{ edit_form.score(value= entry.score) }}
							{% else %}
								Score {{ edit_form.score(placeholder= "Score it") }}
							{% endif %}
							<button type="submit">Edit List Entry</a>
						</form>
					</td>
					<td>
						<a href="{{ url_for('delete_list_entry', list_id = entry.id, son_id = entry.game) }}">Delete</a>	
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		Damn, your list is empty? Never played anything before?? Daaaamn...
		
	{% endif %}
	
</div>
{% endblock %}
